<ion-header>
  <ion-toolbar *ngIf="!showSearchBar" color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchBar()" [disabled]="canFilter">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleDateFilter()" [disabled]="showSearchBar">
        <ion-icon name="funnel-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="!canFilter">Commandes</ion-title>

  </ion-toolbar>

  <ion-item *ngIf="canFilter">
    <ion-label>Considerer la date du </ion-label>
    <ion-datetime (ionChange)="onGetDate($event)" placeholder="Select Date"></ion-datetime>
  </ion-item>

  <ion-searchbar showCancelButton="always" (ionChange)="applyFilter($event)"
               *ngIf="showSearchBar" (ionClear)="toggleSearchBar()"
               placeholder="chercher une cmd" (ionCancel)="cancelFilter($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <div id="container" *ngIf="!data.length">
    <ion-spinner color="primary"></ion-spinner>
    <!-- <ion-label>Patientez svp...  </ion-label> -->
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  
  <ion-list lines="full">

    <ion-virtual-scroll [items]="dataFilter" approxItemHeight="320px">
      <ion-item *virtualItem="let order" (click)="onDetail(order)" [disabled]="!order?.edition?.active">
        <ion-label>
          <h2>{{ order.client.ets | uppercase }}</h2>
          <h3><strong>{{ order.client.code }}</strong></h3>
          <p>Zone. {{ order.client.zone }} / Q. {{ order.client.quartier }} / Av. {{ order.client.avenue}}</p>
          <!-- <p>Gerant. {{ order.client.gerant }} -- Conatact. {{ order.client.contact }}</p> -->
          <p>Date : {{ formatService.localDateCourt(order.date) | uppercase }}</p>
        </ion-label>
      </ion-item>
    </ion-virtual-scroll>

  </ion-list>
</ion-content>
