<ion-header>
  <ion-toolbar color="primary">
    
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchBar()">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Liste Clients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container" *ngIf="!dataSource.data.length">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="seach" >
    <ion-text>
      <h2>Impossible de trouver les donnees liees a la valeur "  " </h2>
    </ion-text>
  </ion-item>

  <ion-virtual-scroll *ngIf="dataSource.filteredData" [items]="dataSource.filteredData">

    <ion-item *virtualItem="let client; let itemBounds = bounds;" button (click)="onSelected(client._id)">
      <ion-label>

        <h2>{{ client.ets }}</h2>
        <h3>Code : {{ client.code }}</h3>
        <p>Zone {{ client.zone }} / Q. {{ client.quartier }} / Av. {{ client.avenue }}</p>
        <p>Gerant : {{ client.gerant }} - Contact : {{ client.contact }}</p>
        
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>

  <!-- <ion-list lines="full">
    <ion-item button (click)="onSelected(client._id)" *ngFor="let client of dataSource.filteredData">
      <ion-label>

        <h2>{{ client.ets }}</h2>
        <p>Code : {{ client.code }}</p>
        <p>Zone {{ client.zone }} / Q. {{ client.quartier }} / Av. {{ client.avenue }}</p>
        <p>Gerant : {{ client.gerant }} - Contact : {{ client.contact }}</p>
        
      </ion-label>
      
    </ion-item>
    
  </ion-list> -->

</ion-content>

<ion-footer>
  <ion-button expand="full" *ngIf="!searchBar" (click)="onNewClient()">Nouveau Client</ion-button>
  <ion-searchbar #seach (ionChange)="applyFilter($event)" *ngIf="searchBar" (ionClear)="toggleSearchBar()" placeholder="trouver un client"></ion-searchbar>
</ion-footer>
