<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Acceuil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="onStart()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-item>
    <ion-label>Considerer la date du </ion-label>
    <ion-datetime (ionChange)="onGetDate($event)" placeholder="Select Date" [(ngModel)]="value"></ion-datetime>
  </ion-item>

  <ion-card>
    <ion-item lines="full">
      <ion-label>TOTAL VENDU</ion-label>
      <ion-spinner *ngIf="!orders.length" name="lines" slot="end"></ion-spinner>
    </ion-item>

    <div *ngIf="totalSale">
      <ion-item lines="full">
        <ion-label><h3 class="byzone">Nbr. Client</h3></ion-label>
        <ion-label><h3 class="byzone">Cartons</h3></ion-label>
        <ion-label><h3 class="byzone">Montant (Fc)</h3></ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-label><h3 class="byzone">{{ totalSale?.client }}</h3></ion-label>
        <ion-label><h3 class="byzone">{{ totalSale?.article }}</h3></ion-label>
        <ion-label><h3 class="byzone">{{ totalSale?.montant }}</h3></ion-label>
      </ion-item>

    </div>
   
  </ion-card>

  <ion-card>
    
    <ion-item lines="full">
      <ion-label>VENTE PAR ZONE</ion-label>
      <ion-spinner *ngIf="!orders.length" name="lines" slot="end"></ion-spinner>
    </ion-item>

    <div  *ngFor="let item of saleByZone">
      <ion-item *ngIf="saleByZone.length" lines="full">
        <ion-label><h3  class="byzone">{{ item?.zone | uppercase }}</h3></ion-label>
        <ion-label><h3 class="byzone">{{ item?.sale }} <em>Cartons</em></h3></ion-label>
        <ion-label><h3 class="byzone">{{ item?.client }} <em>Clients</em></h3></ion-label>
      </ion-item>
    </div>

  </ion-card>

  <ion-card>
    <ion-item lines="full">
      <ion-label>PRODUIT VENDU</ion-label>
      <ion-spinner *ngIf="!orders.length" name="lines" slot="end"></ion-spinner>
    </ion-item>
  
    <div *ngFor="let item of saleByProduct">
      <ion-item lines="full" *ngIf="saleByProduct.length">
        <ion-label>
          <h2>{{ item.name }}</h2>
          <p>{{ item.sale }} cartons</p>
          
        </ion-label>
      </ion-item>
    </div>
    
  </ion-card>


</ion-content>
